{% trans_default_domain 'ir_category' %}

<div class="page-header">
    <h1>{{ 'category.edit.title'|trans }}</h1>
</div>

<form action="{{ path('ir_category_edit', {'id': category.id}) }}" {{ form_enctype(form) }} method="POST" novalidate>
    {% include 'IRCategoryBundle:Category:form.html.twig' %}
    <div>
        <button type="submit" class="btn btn-primary">{{ 'category.edit.save'|trans }}</button>
        <a href="{{ app.request.headers.get('referer') }}" class="btn">{{ 'category.edit.cancel'|trans }}</a>         
    </div>        
</form>