{% import 'IRCategoryBundle:Category:macros.html.twig' as macros %}

{% trans_default_domain 'ir_category' %}

<div class="page-header">
    <h1>
        {% if parent %}
            {{ parent }}
        {% else %}
            {{ 'category.list.title'|trans }}
        {% endif %}
    </h1>
</div>

<div class="well well-sm">
    <a href="{{ path('ir_category_new', {'parentId' : parentId}) }}" class="btn btn-primary">
        <i class="glyphicon glyphicon-plus"></i> {{ 'category.action.new'|trans }}
    </a>
</div>      

{{ macros.breadcrumb(path) }}

{% if categories|length %}
<table class="table table-striped">          
    <thead>
        <tr>
            <th>{{ 'category.name'|trans }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for category in categories %}
        <tr>
            <td>
                <a href="{{ path('ir_category_list', {'parentId': category.id}) }}" class="btn btn-link">
                    {{ category.name }}
                </a>
            </td>
            <td>
                <div class="pull-right">
                    <a href="{{ path('ir_category_show', {'id': category.id}) }}" class="btn btn-default">
                        <i class="glyphicon glyphicon-list"></i>
                    </a>                        
                    <a href="{{ path('ir_category_edit', {'id': category.id}) }}" class="btn btn-primary">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>                         
                    <a href="{{ path('ir_category_delete', {'id': category.id}) }}" class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="well">
    {{ 'category.list.no_results'|trans }}
</div>
{% endif %}